name: Release
on:
  push:
    tags:
      - '*'
  workflow_run:
    workflows: [Bump version]
jobs:
  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        go-version:
          - 1.22.x
          - 1.21.x
          - 1.20.x
          - 1.19.x
          - 1.18.x
          - 1.17.x
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}
      - name: Build
        run: go build -v ./...
  containers:
    needs: build
    name: Push Containers
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Get the Tag Version
        id: get_version
        run: echo ${{ github.ref_name }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log In to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to Container Registries
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: |
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            linux/arm64/v8
          push: true
          tags: |
            tomswartz07/meetupbot:latest
            tomswartz07/meetupbot:${{github.ref_name}}
            ghcr.io/tomswartz07/meetupbot:latest
            ghcr.io/tomswartz07/meetupbot:${{github.ref_name}}
